// $primaryColor: rgb(131, 81, 196);


.cats {
    color: red;
}

.cats__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.cats__item {
    border-radius: 15px;
    background-color: whitesmoke;
    border: 1px solid white;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: $primaryColor;
    transition: transform 0.7s;
    cursor: pointer;
}

.cats__item:hover {
    transform: scale(1.1);
}

.cat__modal-like i {
    color: rgb(173, 2, 2);
    transition: transform 0.3s;
}

.cat__modal-like i:hover {
    transform: scale(1.5);
}

.cats__photo {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    background-image: url('../images/baseCat.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cats__name {
    font-family: generalFontBold;
    // color: white;
    font-size: 20px;
    // text-shadow: 1px 0 1px #000,
    //     0 1px 1px #000,
    //     -1px 0 1px #000,
    //     0 -1px 1px #000;
    margin: 5px;
}

.cats__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat__modal-like {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(222, 53, 53);
}

.cats__add {
    display: none;
    margin-top: 20px;
    // font-size: 15px;
    // font-family: generalFontBold;
    // color: rgb(243, 239, 243);
    // background-color: $primaryColor;
    // border: none;
    // border-radius: 50px;
    // cursor: pointer;
    // box-shadow: 0 16px 36px rgba(182, 60, 223, 0.22);
    // padding: 15px;
    // width: 200px;
    // transition: background-color, box-shadow, 0.3s ease-in;
}

// .cats__add:hover {
//     background-color: #db23d5;
//     box-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
// }

.cats__rate {
    display: flex;
    gap: 5px;
    font-size: 15px;
    margin: 0 0 5px 0;
    ;
}

.cats__modal {
    display: none;
}