@font-face {
    font-family: titleFont;
    src: url(../fonts/RubikMonoOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: generalFont;
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: generalFontBold;
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}