html {
    font-family: generalFont;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 2, 46);
}

h1 {
    font-family: titleFont;
    color: $primaryColor;
    padding: 0 0 0 30px;
    margin: 0;
    font-size: 70px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}